---
layout: default
resource: Team Leader Guidelines
references:
  - text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
    link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
  - text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
    link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
  - text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
    link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
---
{% include header_documents.html %}
<section class="teamleader">
  <h4>A.M. Shift or D12</h4>
  <ul>
    <li>
      Take handover from the previous shift
    </li>
    <li>
      If it’s a weekend or public holiday, and there is no liaison on, take the MET pager off previous Team Leader
    </li>
    <li>
      Check resus and intubation trolleys
    </li>
    <li>
      Check with ANUM regarding prospective HDU/ICU admissions (i.e. post ops, downgrades from ICU, emergency patients).  Discuss potential discharges.
    </li>
    <li>
      Check central monitor for correct patient details and alarm settings.
    </li>
    <li>
      Do individual AIMS with the bedside nurse including:
      <ul>
        <li>
          Clarifying medical orders and aims.
        </li>
        <li>
          Discussion of patient problems (both actual and potential) – systems approach.
        </li>
        <li>
          Ensure correct documentation regarding bowels, hair wash, line changes etc.
        </li>
        <li>
          Check if any medications need to be ordered from pharmacy prior to pharmacy closing time, (keeping in mind pharmacy close 12pm on weekends and public holidays)
        </li>
        <li>
          For new/junior staff go through monitor and ventilator alarms.
        </li>
        <li>
          General discussion on any concerns staff member may have.
        </li>
        <li>
          Clarify break times.
        </li>
      </ul>
    </li>
    <li>
      Assist bed side nurses with provision of nursing care.  Eg. Tube holds, drug checks, documentation and washes.
    </li>
    <li>
      Assist bed side nurses with discharge documentation and preparation for patients ready for discharge.  (Ensure to notify ICU resident of discharges so that drug charts/fluid charts and the ICU medical discharge can be completed).
    </li>
    <li>
      Inform Ward Receptionists of any imminent discharges.
    </li>
    <li>
      Attend the medical round: participate in discussions and ensure bedside nurses are aware of changes.  Update the ANUM.
    </li>
    <li>
      Ensure that staff have commenced tea breaks.  Ensure that you have had a tea break.
    </li>
    <li>
      Where time allows, make self available for any education needs staff may have.
    </li>
  </ul>

  <h4>P.M. Shift</h4>
  <ul>
    <li>
      Receive handover from previous shift.
    </li>
    <li>
      Check resus and intubation trolleys
    </li>
    <li>
      Assist bed side nurses with provision of nursing care.  Eg Tube holds, drug checks, documentation and washes.
    </li>
    <li>
      Do individual aims as above.
    </li>
    <li>
      Check with ANUM regarding potential admissions or discharges.
    </li>
    <li>
      Attend the medical round: participate in discussions and ensure bedside nurses are aware of changes.  Update ANUM.
    </li>
    <li>
      Organise and/or relieve staff for breaks.
    </li>
    <li>
      Arrange for staff in-service attendance.
    </li>
    <li>
      General handover to 1900.
    </li>
  </ul>

  <h4>Night Shift:</h4>
  <ul>
    <li>
      Receive handover from previous shift.
    </li>
    <li>
      Code blue pager.
    </li>
    <li>
      Check resus and intubation trolleys.
    </li>
    <li>
      Do Individual Aims as above
    </li>
    <li>
      Check with ANUM regarding potential admissions or discharges.
    </li>
    <li>
      Assist bed side nurses with provision of nursing care. Eg. Tube holds, drug checks, documentation and washes.
    </li>
    <li>
      Organise and/or relieve staff for breaks.
    </li>
    <li>
      Prepare empty beds for potential admissions.
    </li>
    <li>
      Ensure bed areas & HDU corridor is clutter free – remove unnecessary equipment/chairs.
    </li>
    <li>
      General handover 0700hrs
    </li>
  </ul>
</section>
{% include references.html %}
