---
layout: default
resource: NGT Fixation
references:
- text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
  link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
- text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
  link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
- text: Hoadley T. A. (2009). Learning Advanced Cardiac Life Support A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from
  link: https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live
---
{% include header_documents.html %}
<section class="video-resource">
  <p>
    Many of our patients in ICU require nasogastric tubes for feeding or drainage of stomach contents. In order to  prevent removal of these tubes they need to be securely fastened to the patient. Securing the NGT to the patient can cause pressure areas to the nares so in Western Health ICU's (Footscray and Sunshine), we use a specific method of securing the NGT to the patient.
    Please see the Video below for a demonstration
  </p>
  <div class="grid-middle">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KMqZhfgChZQ" frameborder="0" allowfullscreen class="col"></iframe>
</section>
{% include references.html %}
