---
layout: default
resource: NGT Fixation
---
{% include header_documents.html %}
<section>
  <p>
    Many of our patients in ICU require nasogastric tubes for feeding or drainage of stomach contents. In order to  prevent removal of these tubes they need to be securely fastened to the patient. Securing the NGT to the patient can cause pressure areas to the nares so in Western Health ICU's (Footscray and Sunshine), we use a specific method of securing the NGT to the patient.
    Please see the Video below for a demonstration
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KMqZhfgChZQ" frameborder="0" allowfullscreen></iframe>
</section>
{% include references.html %}
