*{
  box-sizing: border-box;
  /*padding: 0;
  margin: 0;*/
}
[class*=grid-], [class*=grid_], [class~=grid] {
    margin: 0rem;
}


body{
  font-family: 'Raleway', sans-serif;
}
section{
  padding: 2%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lora', serif;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}
*{
  /*border: 2px solid black;*/
}

/*this is the helper section*/
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}

/*this is the header section*/
header{
  padding: 2% 5% 2% 5%;
}

header a:hover, .emergency:hover, i.hover:hover{
  background-color: white;
  color: #666666
}

#home{
  background-color:#666;
}

header img{
  height: auto;
  padding: 5% 10%;
  text-align: center;
}
header .center-logo{
  display: inline-block;
  width: 35%;
}
header nav{
  text-align: right;
  font-size: 20px;
  letter-spacing: 1.5;
  padding: 0% 40%;
}
header a{
  color: #fff;
  padding: 10px 10px;
  display: inline-block;
}
header nav a{
  border-right: 1px solid #fff;
}
header nav .feedback{
  border-right: 0px solid #fff;
}
header a.emergency{
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: red;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom:-40px;
}
header form{
  text-align: right;
  font-size: 15px;
  color: #fff;
}

/*this is the about us section*/
/*this is the heading in the text box*/
#about-us h2{
  font-size: 30px;
  text-align: center;
}
#about-us{
  padding: 2% 0%;
}
#about-us p{
  line-height: 1.5;
}


/*this is the information section*/

/* this is the calendar*/
#information-zone iframe{
  border: none;
  width: 100%;
  height: 600px;
}
#calendarTitle{
  font-family: 'Lora', serif;
  font-size: 30px;
  color: #44d9e6;
}
/* this is the upcoming events scroll box*/
#information-zone .upcoming-events{
  margin: 30px 0 0 0;
  width: 100%;
  height: 300px;
  overflow: scroll;
}
.upcoming-events h3{
  font-size: 30px;
  font-weight: bold;
  color: #99e265;
  text-decoration: underline;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
}
.upcoming-events h5 p{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
/* this is the resources accordian*/
.dropdown-content {
    display: none;
}

.dropdown-box h3{
  padding: 8px;
}

.spin .fa{
  transform: rotateZ(90deg);
}
.dropdown-box .fa{
  transition: 0.5s;
  padding: 2px 4px 2px 2px;
}
#accordion{
  padding-left: 5%;
}
#accordion a{
  display: block;
  text-decoration: none;
  line-height: 1.6;
  color: #000;
  padding: 10px 0 5px 0;
}
#accordion a:visited{
  color: #b760e6;
}
#accordion h3{
  background-color: #b760e6;
  color: #fff;
}

/*this is the contact us section*/

/* this is the management team section*/
#contact-us{
  background-color: #eee;
}
#contact-us h2{
  font-size: 30px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
#contact-us h3{
  font-size: 20px;
  padding: none;
  font-weight: lighter;
}
#contact-us h4{
  font-weight: bold;
}
#contact-us h5{
  font-weight: lighter;
}

#contact-us a{
  text-decoration: underline;
  color: #44d9e6;
}
#contact-us div, h4, h5, a{
  line-height: 0.5;
}
#contact-us div.french, div.cowie, div.cuffe, div.angel{
  padding: 2% 0 2% 0;
}

/* this is the feedback section*/
#contact-us{
  padding: 2% 5% 2% 5%;
  margin: 3% 10%;
}
#contact-us .feedback{
  font-size: 20px;
  color: #000;
  font-weight: lighter;
  text-align: center;
  margin: 80px 0 0 0;
}
 #contact-us input,
 #contact-us label,
 #contact-us textarea,
 #contact-us button{
  margin: 30px 0;
}
 #contact-us input,
 #contact-us textarea{
  margin: 0 0 10px 0;
}
  #contact-us label{
  margin: 30px 0 20px 0;
  display: inline-block;
  font-weight: lighter;
}
#contact-us .grid-spaceAround-center-noBottom{
  padding: 5px 5px 20px 0;
}
#contact-us button:hover {
  background-color: #9dbff6;
  color: #fff;
  border: 3px ridge #666;
}

/*this is the footer section*/
#footer{
  background-color: #666;
  padding: 2% 7% 0% 7%;
}

footer img{
  border: 0px solid #b760e6;
  transition: .1s;
}

footer img:hover{
  border: 2px solid #b760e6;
}

footer .interpreter{
  width: 8%;
}

footer .whlogo{
  width: 50%;
}

footer .foundation-logo{
  width: 85%;
}

footer .non-image a:hover{
  background-color: #fff;
  color: #666;
}

footer .non-image a{
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0 1%;
  transition: 1s;
}

.non-image .staff{
  border: 0px solid #fff;
}


/* secondary header for the resource pages */
.page2-header{
  padding: 2%;
}
.page2-header h2.heading{
  font-size: 45px;
  font-weight: bold;
  padding: 0 50px 0 0;
}
.page2-header h1.resource-title{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  border: 5px solid #000;
  padding: 0 2px;
  margin: 0 20px;
}
.wh-logo img{
  width: 40%;
}

.page2-header img{
  width: 20%;
  margin-left: 75%;
}

/* reference section for resource pages */
.references{
  padding:5%;
}
.references h3{
  font-size: 30px;
  font-weight: bold;
}
.references p{
  font-size: 18px;
  line-height: 1.5;
}
.references a{
  text-decoration: underline;
  color: #44d9e6;
}



/* this is the css for the 'document-link' page */
.teamleader{
  padding: 5%;
}
.teamleader h4{
  font-size:35px;
  font-weight:bold;

}.teamleader li{
  font-size: 22px;
  line-height: 1.5;
}

/* this is the css for the video-document-link */
  .video-resource{
    padding: 5%;
  }
  .video-resource p{
    font-size: 20px;
    line-height: 1.5;
  }
  .video-resource iframe{
    margin: 5% 10% 0% 10%;
    width: 100%;
    height:40.5vw;
  }

/* Styling for Dans page*/

.dans-page{
  padding 5%;
}

.dans-page h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.dans-page h2{
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

.dans-page p{
  font-size: 20px;
  line-height:1.5;
}


/* MOBILE MENU*/

#mobile-menu{
  background-color: #b760e6;/*makes the background-color blue*/
  position: fixed;/*makes sure it wont move even if you scroll*/
  top: 0;/*makes sure the mobile menu sticks to the top of the screen*/
  left: 0;/*makes sure it sticks to the left of the screen*/
  width: 100%;/*makes it wide*/
  height: 100%;/*makes it tall*/
  display: none;/*hides mobile menu initially */
  z-index: 999; /*makes sure the #mobile-menu is in the front of other elements*/
  text-align: center;
  }
#mobile-menu.mobile-menu-visible{
  display: flex;
}
#mobile-menu a{
  text-decoration: none;
}
.toggle-mobile-menu{
  border:none;
}

.mobile-show{
  display: none;
}

@media all and (max-width:800px){

  header nav a{
    display: none;
  }

  .mobile-show{
    display: block;
  }
  header .center-logo{
    width: 100%;
  }
  .page2-header h1.resource-title{
    margin: 0;
  }
  .page2-header img{
    margin-left: 0;
  }

}
.slidein-from-right {
    animation: slidein-from-right 4s;
}
@keyframes slidein-from-right {
    from {
        margin-left: 100%;
        width: 300%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
  }
    .slidein-from-left {
        animation: slidein-from-left 4s;
    }
    @keyframes slidein-from-left{
        from {
            transform: translateX(-100%);
            width: 100%;
            opacity: 0;
        }
        to {
            transform: translateX(0%);
            width: 100%;
            opacity: 1;
        }
