<section>
  <h3>References</h3>
  <div>
    <p>
      Hoadley, T. A. (2009). Learning Advanced Cardiac Life Support: A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from <a href="">https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live </a>
    </p>
  </div
  <div>
    <p>
      Hoadley, T. A. (2009). Learning Advanced Cardiac Life Support: A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from <a href="">https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live </a>
    </p>
  </div>
  <div>
    <p>
      Hoadley, T. A. (2009). Learning Advanced Cardiac Life Support: A Comparison Study of the Effects of Low- and High-Fidelity Simulation. Nursing Education Perspectives, 30(2), 91-95. Retrieved 30th of April, 2013 from <a href="">https://search-ebscohost-com.ezp.lib.unimelb.edu.au/login.aspx?direct=true&db=hch&AN=37702440&site=ehost-live </a>
    </p>
  </div>
</section>
